*{
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.upsec {
    width: 100vw;
    height: 23vh;
    margin: 0% 0% 0.5% 0%;
}

#uppara {
    color: rgb(6, 6, 75);
    font-size: small;
    text-align: center;
    align-items: center;
    margin-bottom: 2vh;
}

#logo {
    width: 12vw;
    height: 20vh;
    padding-bottom: 0.25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navcon {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 100vw;
    padding: 0% 5%;
}

#carouselExampleControls {
    width: 75vw;
    height: 30vh;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

#c1 {
    width: 75vw;
    height: 30vh;
}

#c2 {
    width: 75vw;
    height: 30vh;
}

#c3 {
    width: 75vw;
    height: 30vh;
}

#lpanel {
    width: 300px;
    height:auto;
    float: left;
    border:1px solid purple
}

.lpanel-heading {
    padding: 2% 2%;
    background-color: navy;
    width: 100%;
    height: 40px;
    margin: 0px 0px 0px 0px;;
}

#bb {
    color: white;
    align-items: center;
    text-align: center;
}

.lpanel-dot {
    height: 15px;
    width: 15px;
    background-color: rgb(231, 231, 44);
    border-radius: 50%;
    display: inline-block;
}

#lpanel-breaker {
    margin-top: 10%;
}

.lpanel-item-1, .lpanel-item-2, .lpanel-item-3, .lpanel-item-4, .lpanel-item-5, .lpanel-item-6, .lpanel-item-7, .lpanel-item-8, .lpanel-item-9, .lpanel-item-10, .lpanel-item-11, .lpanel-item-12, .lpanel-item-13{
    padding: 5% 5% 5% 5% ;
}

#rpanel {
    width: 300px;
    margin-top: 2%;
    margin-left: 50%;
    height:auto;
    float: right;
    border:1px solid purple;
    margin-right: -1px;
}

.rpanel-heading {
    padding: 2% 2%;
    background-color: navy;
    width: 100%;
    height: 40px;
    margin: 0px 0px 0px 0px;;
}

#op-ed {
    color: white;
    align-items: center;
    text-align: center;
}

.rpanel-dot {
    height: 15px;
    width: 15px;
    background-color: rgb(231, 231, 44);
    border-radius: 50%;
    display: inline-block;
}

#rpanel-breaker {
    margin-top: 10%;
}

.rpanel-item-1, .rpanel-item-2, .rpanel-item-3, .rpanel-item-4, .rpanel-item-5 {
    padding: 5% 5% 5% 5% ;
}

#carouselExampleCaptions {
    width: 39.71vw;
    height: 53.55vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: red;
}

.container {
    height: 3709.2px;
    width: auto;
    display: flexbox;
    flex-direction: row;
    background-color: cyan;
}

.rpanel-card {
    width: 300px;
    height: auto;
    border: 1px solid black;
    float: right;
    margin-right: -1px;
    margin-top: -20%;
}

.rpanel-card-heading {
    padding: 2% 2%;
    background-color: navy;
    width: 100%;
    height: 11.7105vh;
    margin: 0px 0px 0px 0px;;
}

#lupload {
    color: white;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
}

#facepic {
    width: 5vw;
    border-radius: 50%;
}

#ename {
    color: yellow;
    font-size: medium;
}